.mdl-card {
    min-height: 0;
}

.mdl-layout__header {
    /*position: fixed;*/
}

.cover-layout {
    height: 360px;
    background: url('../assets/cover.jpg') center / cover;
}

.index-content {
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
       your background is light. */
    color: white;
}

.post-list {
    margin: 0 auto;
}
